# App
APP_ORIGIN=http://localhost:5173
CORS_ORIGIN=http://localhost:5173
NODE_ENV=development
PORT=3000

# Auth
BETTER_AUTH_SECRET=BETTER_AUTH_SECRET_VALUE
BETTER_AUTH_URL=http://localhost:3000

# Database
DATABASE_URL=YOUR_DATABASE_URL_VALUE

# Email
ETHEREAL_USER=ETHEREAL_USER_VALUE
ETHEREAL_PASS=ETHEREAL_PASS_VALUE
ETHEREAL_HOST=ETHEREAL_HOST_VALUE
ETHEREAL_PORT=ETHEREAL_PORT_VALUE
